*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

img {
  max-width: 100%;
}

.button {
  padding: 18px 40px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.button:hover {
  cursor: pointer;
}

.button--primary {
  background-color: #0842b7;
  color: #FFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.button--primary:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button--outline {
  border: 1px solid #0842b7;
  background-color: transparent;
  color: #0842b7;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  padding: 2.142rem 0;
  font-size: 1.14rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo__img {
  margin-right: 0.85rem;
}

.nav__item {
  font-size: 1.14rem;
  font-weight: bold;
  text-decoration: none;
  color: #777777;
  margin-right: 5rem;
  padding: 2.142rem 0;
}
.nav__item:hover {
  color: #000;
  border-bottom: 3px solid #0842b7;
}

.phone {
  font-size: 1.5rem;
  text-decoration: none;
  color: #000;
  padding: 2.142rem 0;
}

.hero {
  background: url(../img/hero-bg.png) no-repeat top;
  padding-top: 17rem;
  margin-bottom: 16rem;
}
.hero__title {
  font-size: 5rem;
  font-weight: normal;
}
.hero__title--second {
  font-weight: normal;
  font-size: 2.5rem;
}
.hero__text {
  max-width: 23rem;
  margin-top: 2.14rem;
  margin-bottom: 4.85rem;
}
.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__buttons--text {
  text-align: left;
  margin-left: 3.78rem;
  margin-top: 1.35rem;
}
.hero__button {
  margin-bottom: 0.85rem;
}

.buttons {
  display: grid;
}

.button--text {
  font-size: 1.5rem;
  max-width: 21rem;
}

.text__selection {
  color: #06BEE1;
}
.text__selection__robot {
  font-size: 8rem;
}

.block__robot {
  margin-right: 11rem;
}
.block__robot1 {
  margin-top: 18rem;
  margin-right: 2.5rem;
}
.block__robot2 {
  margin-top: 16.75rem;
}
.block__whyrobot__title {
  margin-top: 20rem;
  max-width: 26rem;
  background-color: #FFF;
  padding: 1.42rem;
}
.block__robot__title {
  font-size: 24.4rem;
  font-weight: normal;
}
.block__title {
  font-size: 1.8rem;
  text-align: left;
  max-width: 20.5rem;
  margin-bottom: 2.2rem;
}
.block__title1 {
  font-size: 1.8rem;
  text-align: left;
  max-width: 20.5rem;
  margin-bottom: 2.2rem;
  font-weight: normal;
}
.block__text {
  font-size: 1.14rem;
  text-align: left;
  max-width: 15.5rem;
}

.whyrobot__title {
  font-size: 2.1rem;
  font-weight: normal;
  text-align: center;
}
.whyrobot__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.robot__img {
  margin-bottom: 6rem;
}
.robot__img1 {
  margin-bottom: 6rem;
}

.create {
  background: url(../img/createbg.png) no-repeat bottom;
}
.create__title {
  font-family: "Roboto-light  ", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  text-align: center;
  max-width: 34rem;
  margin: auto;
  margin-bottom: 1.8rem;
}
.create__subtitle {
  font-family: "Roboto-light  ", sans-serif;
  font-size: 1.14rem;
  text-align: center;
  max-width: 26rem;
  margin: auto;
  margin-bottom: 6rem;
}
.create__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.create__input {
  margin-right: 2.35rem;
  max-width: 7rem;
  min-height: 3rem;
  border: 1px solid #cfdeee;
}
.create__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 8.57rem;
}
.create__btn {
  cursor: pointer;
  padding: 1.2rem 1.9rem;
  border: none;
  border-radius: 5px;
  background: #0842b7;
  color: #FFF;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.create__block__title {
  margin: auto;
}

.inputs__block__text {
  margin-right: 9.6rem;
}

.inputs__title {
  font-size: 1.2rem;
  font-weight: normal;
  max-width: 13rem;
  margin-bottom: 2rem;
}

.inputs__text {
  max-width: 12rem;
  font-weight: normal;
  font-size: 1rem;
}

.block__inputs {
  -webkit-columns: 2 23rem;
     -moz-columns: 2 23rem;
          columns: 2 23rem;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5.14rem;
}

.label__create {
  max-width: 13rem;
}

.study {
  background: url(../img/study-bg.png) no-repeat center/cover;
}
.study__text {
  padding-top: 9rem;
  padding-bottom: 8.5rem;
  margin: auto;
}
.study__title {
  max-width: 28rem;
  font-size: 1.5rem;
  color: #FFF;
  text-align: center;
  margin: auto;
}
.study__button__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2.5rem;
}
.study__button {
  cursor: pointer;
  padding: 1.2rem 2.6rem;
  color: #FFF;
  border: 1px solid #FFF;
  background: transparent;
  border-radius: 5px;
}

.lightblue {
  color: #06BEE1;
}

.simple__block__title {
  margin-top: 8.35rem;
}
.simple__title {
  text-align: center;
  font-weight: normal;
  font-size: 2.6rem;
}
.simple__text {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 7rem;
  text-align: center;
  max-width: 27rem;
  font-size: 1.14rem;
}
.simple__list {
  list-style-type: none;
  text-align: center;
}

.list__item {
  position: relative;
  font-size: 1.7rem;
  margin-bottom: 7rem;
}

.bold {
  font-weight: bold;
}

.video {
  text-align: center;
}
.video__img {
  position: relative;
  margin-bottom: 5.5rem;
}
.video__title {
  font-size: 1.35rem;
  margin-bottom: 2.14rem;
}
.video__text {
  margin: auto;
  margin-bottom: 3.2rem;
  font-size: 1.14rem;
  max-width: 40.2rem;
}
.video__text::before {
  content: "";
  background: url("../img/play.png") no-repeat center;
  height: 64px;
  width: 64px;
  top: 0;
  left: 0;
}/*# sourceMappingURL=style.css.map */