.study  
    background: url(../img/study-bg.png) no-repeat center / cover
    &__text
        padding-top: 9rem
        padding-bottom: 8.5rem
        margin: auto
    &__title
        max-width: 28rem
        font-size: 1.5rem
        color: $light
        text-align: center
        margin: auto
    &__button__block
        display: flex
        justify-content: center
        margin-top: 2.5rem 
    &__button
        cursor: pointer
        padding: 1.2rem 2.6rem
        color: $light
        border: 1px solid $light
        background: transparent
        border-radius: 5px
.lightblue
    color: $lightblue