.simple
    &__block__title
        margin-top: 8.35rem
    &__title
        text-align: center
        font-weight: normal
        font-size: 2.6rem
    &__text
        margin: auto
        margin-top: 2rem
        margin-bottom: 7rem
        text-align: center
        max-width: 27rem
        font-size: 1.14rem
    &__list
        list-style-type: none
        text-align: center
    &__down--line
        margin-bottom: 8.35rem
.list__item
    position: relative
    font-size: 1.7rem
    margin-bottom: 7rem
.bold
    font-weight: bold
.video
    text-align: center
    &__img
        position: relative
        margin-bottom: 5.5rem
        &::before
            content: ''
            position: absolute
            background: url('../img/play.png') no-repeat center
            height: 64px
            width: 64px
            top: 0
            left: 0
    &__title
        font-size: 1.35rem
        margin-bottom: 2.14rem
    &__text
        margin: auto
        margin-bottom: 3.2rem
        font-size: 1.14rem
        max-width: 40.2rem

        

